* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100dvh;
    font-family: "Inter", sans-serif;
    background: #111827;
    color: #929292;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 0.5em 0 3em .5em;
}

header h1 {
    font-weight: 900;
    color: #F55A5A;
    font-size: 3.5rem;
    line-height: 1em;
}

header h3 {
    font-size: 1rem;
    padding-left: .5em;
}

.navform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: 5em;
    padding: 1.25em;
    background-color: #1F2937;
    width: 100%;
}

select,
button,
.colorpicker {
    height: 40px;
}

.colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    background: none;
}

.colorpicker::-webkit-color-swatch-wrapper {
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}

.colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

select {
    font-family: inherit;
    border-radius: 5px;
    font-size: .8em;
    border: 1.5px solid #929292;
    background-color: #1F2937;
    color: #D1D5DB;
    padding: 0 .6em;
    width: 60%;
    cursor: pointer;
    outline: none;
}

button {
    text-align: center;
    font-size: .8rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;
    background-color: #3D4B60;
    color: #fff;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s ease;
    border: none;
    padding: 3px 6px;
}

button:active {
    transform: scale(0.95);
}

#color-palette {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(3em, 1fr);
    width: 100%;
    flex: 1;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #1F2937;
}

.color-box {
    display: flex;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.color-box:hover {
    transform: scale(1.07);
}

.color {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #c4d3e9;
    font-weight: 300;
    text-shadow: 1px 1px 2px black;
}

footer {
    text-align: center;
    padding: 1em;
    font-size: .8em;
    margin-top: auto;
}

/* Media Queries */
@media(min-width: 450px) {
    html {
        font-size: 17px;
    }
}

@media(min-width: 493px) {
    html {
        font-size: 18px;
    }

    header {
        text-align: start;
        padding: 0.2em 0 2em 0;
    }

    header h1 {
        font-size: 3rem;
    }

    #color-palette {
        grid-template-columns: repeat(5, 1fr);
        border-end-start-radius: 6px;
        border-end-end-radius: 6px;
    }

    .navform {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    select,
    .colorpicker,
    button {
        height: 50px;
    }

    select {
        border: 2px solid #929292;
    }

    button,
    .colorpicker {
        width: 110px;
    }
}