* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background: #111827;
    color: #D5D4D8;
}

main {
    max-width: 600px;
    height: 90dvh;
}

header{
    padding: 1em 1em 2em 1em;
}
header h1 {
    font-size: 2.5em;
    font-weight: 900;
    color: #F55A5A;
}

.navform {
    display: flex;
    height: 5em;
    padding: 1.25em;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 6px;
    gap: 1em;
    border-top-right-radius: 6px;
}

select,
button {
    height: 40px;
}

.colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6rem;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    background: none;
}

.colorpicker::-webkit-color-swatch-wrapper {
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
}

.colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

select {
    font-family: inherit;
    border-radius: 5px;
    border: 1.5px solid #D1D5DB;
    background-color: #1F2937;
    color: #D1D5DB;
    padding: 0 .6em;
    width: 60%;
    cursor: pointer;
    outline: none;
}

select:focus {
    border: 2px solid #F55A5A;
    box-shadow: 0 0 4px #F55A5A55;
}

button {
    max-width: 6rem;
    text-align: center;
    font-size: .8rem;
    font-family: inherit;
    border-radius: 5px;
    font-weight: 500;
    background-color: #3D4B60;
    color: #fff;
    padding: 3px 0px 3px 0px;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s ease;
    border: 2px solid #F55A5A;
}
button:active {
    transform: scale(0.95);
}

#color-palette {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 490px;
    height: 28em;
    border-end-end-radius: 6px;
    border-end-start-radius: 6px;
    overflow: hidden;
    height: 100%;
}

.color-box {
    flex: 1;
    display: flex;
    cursor: pointer;
    transition: transform 0.15s ease;
}
.color-box:hover {
    transform: scale(1.07);
}

.color {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #ccdbf1;
    text-shadow: 1px 1px 2px black;

}
@media(min-width:515px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65dvh;

    }
    main{
        height: 25rem;
    }
    header h1 {
        font-size: 3em;
        max-width: 75%;
        padding-bottom: 0;
    }
    
}